html{
	padding:0px;
}

body{
 background-color: rgb(31,30,30);
 color:white;
}

main{
	max-width:1100px;
	margin:auto;
}

.header-top{
	width:100%;
	background: rgb(157,154,154);
	padding:15px;
	margin-top:15px}
	

.header-top .content-right{
	float:right;
	padding-top:20px;
}

nav.navbar{
	background:tomato;
}

nav.navbar ul.nav-menu li{
	list-style: none;
	display: inline;
	padding: 20px;
}